<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
        <style>
             body{
                 text-align:center;
             }
        </style>
    </head>
    <body>
        <!-- Variables -->
        <!-- <h1>{{ headline }}</h1> -->

        <!-- Conditions -->
        <!-- {% if anniversary %}
            <h1>Yes</h1>
            {% else %}
            <h1>No</h1>
            {% endif %} -->

        <!-- Loops -->
        <!-- <h1>Names</h1>
        <ul>
            {% for name in names %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul> -->

        <!-- URLs and Links -->
        <h1>First Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis labore soluta quia fugit necessitatibus vel totam eius neque, minima sequi mollitia nostrum, ab fuga omnis ipsam debitis saepe qui minus.</p>
        <a href='{{ url_for("more") }}'>See more...</a>
    </body>
</html>